.cq-button {
    margin-left: 0.5em
}
  
#argument-network {
    height: 700px;
    border: 2px solid rgb(32, 163, 157);
    background-color: rgba(0, 0, 0, 0.06);
    cursor: grab;
    border-radius: 1em;
}

.argument-preview {
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.argument-view-root {
    border: 2px solid lightseagreen;
}

.argument-preview, .argument-view {
    border-radius: 1em;
    overflow: hidden;
}

.network-info {
    margin-top: 30px;
}

#network-toggle {
    margin-right: 10px;
}

.card-header {
    background: rgba(204, 224, 226, 0.6);
}

.card-body {
    background: rgba(226, 226, 226, 0.06);
}

.argument-view-cq {
    margin-top: 10px;
}