.cq-button {
    margin-left: 0.5em
}
  
#argument-network {
    height: 700px;
    border: 2px solid rgb(32, 163, 157);
    background-color: rgba(0, 0, 0, 0.06);
    cursor: grab;
    border-radius: 1em;
}

.argument-preview {
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.argument-view-root {
    border: 2px solid lightseagreen;
}

.argument-preview, .argument-view {
    border-radius: 1em;
    overflow: hidden;
}

.submit-date {
    float: right;
}

.network-info {
    margin-top: 2em;
    text-align: center;
}

#network-toggle {
    margin-right: 10px;
}

.card-header {
    background: rgba(204, 224, 226, 0.6);
}

.card-body {
    background: rgba(226, 226, 226, 0.06);
}

.argument-nest:not(.nest-level-0) {
    border-left: 1px solid rgb(128, 128, 128, 0.15);
    padding-top: 1em;
}

.nest-level-0 {
    margin-top: 1em;
}

.argument-view-cq {
    margin-top: 10px;
}

.key-node {
    width: 60px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.in-key-node {
    background: lime;
    border: 3px solid darkgreen;
}

.out-key-node {
    background: orangered;
    border: 3px solid maroon;
}

.undec-key-node {
    background: white;
    border: 3px solid black;
}

.col-sm {
    text-align: center;
}

.key-label {
    margin-left: 16px;
}

.key-card {
    margin-top: 1em;
    border-radius: 1em;
    overflow: hidden;
}