.cq-button {
    margin-left: 0.5em
}
  
#argument-network {
    height: 700px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.06);
    cursor: grab;
}

.argument-preview {
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.argument-view {
    margin-top: 1em;
    margin-bottom: 1em;
}

.argument-view-root {
    border: 2px solid black;
}

.argument-preview, .argument-view {
    border-radius: 1em;
}

.network-info {
    margin-top: 30px;
}

#network-toggle {
    margin-right: 10px;
}