.GoBackHomeLink {
  margin: 1em;
}

.Submit {
  position:absolute;
  right:0px;
  top: 30px;
  margin: 1em;
}

.Form {
  margin: 1em;
  padding: 0.25em 0.5em;
}

.value-name {
  padding: 0.5em;
}

.ArgumentDetails {
  margin: 1em;
  border: 1px solid #ccc;
}

.cq-button {
  margin-left: 0.5em
}

#argument-network {
  height: 700px;
  border: 2px solid black;
  margin: 30px;
  cursor: grab;
}
