.Title {
  text-align: center;
}

.Form {
  margin: 1em;
  padding: 0.25em 0.5em;
}

.ArgumentPreview {
  margin: 1em;
  border: 1px solid #ccc;
}

.ArgumentPreview .scheme-name {
  border-bottom: 1px solid #ccc;
  padding: 0.25em 0.5em;
  font-weight: bold;
  background-color: #eee;
}

.ArgumentPreview .value-name {
  padding: 0.5em;
}
