.card {
    border-radius: 1em;
}

.card-signin {
    padding: 2rem;
    width: 100%;
}

.card-signin .card-title, h1 {
    margin-bottom: 30px;
}

.form-control {
    height: 50px;
}

.btn {
    margin-bottom: 30px;
}

.form-control {
    margin: 5px;
}