.sign-in-page .card {
    border-radius: 1em;
}

.card-signin {
    padding: 2rem;
    width: 100%;
}

.card-signin .card-title {
    margin-bottom: 30px;
}

.form-signin .form-control {
    height: 50px;
    margin: 5px;
}

.form-signin .btn {
    margin-bottom: 30px;
}

.forgot-page .card-forgot {
    border-radius: 1em;
    padding: 2rem;
    width: 100%;
}

.card-forgot .card-title {
    margin-bottom: 30px;
}

.form-forgot .form-control {
    height: 50px;
    margin: 5px;
}