.forgot-page .card-forgot {
    border-radius: 1em;
    padding: 2rem;
    width: 100%;
}

.card-forgot .card-title {
    margin-bottom: 30px;
}

.form-forgot .form-control {
    height: 50px;
    margin: 5px;
}