.password-change-page .card-password-change {
    border-radius: 1em;
    padding: 2rem;
    width: 100%;
}

.card-password-change .card-title {
    margin-bottom: 30px;
}

.form-password-change .form-control {
    height: 50px;
    margin: 5px;
}