.home-container {
    width: 100%;
    text-align: center;
}

.home-container h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 64px;
}

.search-form {
    display: inline-block;
    width: 100%;
}

#search-bar {
    display: inline-block;
    margin: 8px;
    width: 70%;
    height: 50px;
    border-radius: 1em;
}

#search-button {
    display: inline-block;
    height: 50px;
    width: 100px;
    border-radius: 1em;
    margin-top: 0.5em;
}

.existing-debates-list {
    display: inline-block;
    width: 70%;
    margin-top: 50px;
    border-radius: 1em;
    overflow: hidden;
}

.existing-debates-list .card-header {
    padding: 0.5em;
    cursor: pointer;
}

.existing-debates-list .list-group-item {
    cursor: pointer;
}